@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Handlee');
@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url('https://fonts.googleapis.com/css?family=Bangers');

.nick {
    background-color: rgba(0, 0, 0, 0.774);
    color: orange;
    padding-top: 3px;
    padding-bottom: 5px;
}
.meg {
    background-color: rgba(0, 0, 0, 0.774);
    color: orange;
    padding-top: 3px;
    padding-bottom: 5px;
}
.andy {
    background-color: rgba(0, 0, 0, 0.774);
    color: orange;
    padding-top: 3px;
    padding-bottom: 5px;
}
.kenzie {
    background-color: rgba(0, 0, 0, 0.774);
    color: orange;
    padding-top: 3px;
    padding-bottom: 5px;
}

.info {
    font-family: 'Bangers', cursive;
    background-color: rgba(0, 0, 0, 0.774);
    color: red;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tentry {
    font-family: 'Bangers', cursive;
    background-color: rgba(0, 0, 0, 0.774);
    color: red;
    padding-top: 3px;
    padding-bottom: 10px;
}

.abouttop {
    font-family: 'Bangers', cursive;
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(168, 9, 9);
    padding-top: 15px;
    padding-bottom: 5px;
}